.vscode
*.mid
__pycache__/
*
!music_generator.py
!running_ai.py
!piano_mission.py
!Instrument.py
!README.md
!data_analysis.py
!main.py
!rnn.py
!util.py
!rnn_weights/
!rnn_weights/*
!plots/
!plots/*
!rnn_log.txt
!rnn2_log.txt
